<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- BOXICONS -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="static/enter_update.css">
    
    <title>Login</title>
</head>

<body>
    <form action="/delete" method="POST">
<h2 class="title">Delete Student</h2>

<div class="wrapper">
    <div class="login-box">
        <div class="login-header">
            <span>
                Delete
            </span>
        </div>
            <div class="input-box">
        <input type="text" placeholder="Username" name="username"id="username" required class="input-field">
        <label class="label">Username</label>
        <i class="bx bx-user icon">

</i>
            </div>

           
                            

                            <div class="input-box">

            <input class="input-submit" type="submit" value="Enter" >

                            </div>
                           
        

    </div>
</div>



</form>
        
</body>
</html>


