<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/error_user_not_found.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error User Not Found</title>
</head>
<body>
    <div class="data-container">
        <h2 class="data">The ID or Username is already exist</h2>
    </div>
    <div class="main-container">




<div class="retey-button">
    <button onclick="location.href = '/add';" formtarget = "_self" class="retry-button">Retry</button>

</div>

    </div>
   
</body>