<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/admin.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Page</title>
</head>
<body>
    <h1>Student Dashboard</h1>
    
    <table id="student-table">
        <thead>
            <tr>
                <th>Student ID</th>
                <th>Name</th>
                <th>CGPA</th>
                <th>Credit Hours</th>
            </tr>
        </thead>
        <tbody>
            {% for student in data %}
            <tr>
                <td>{{ student[0] }}</td>
                <td>{{ student[1] }}</td>
                <td>{{ student[2] }}</td>
                <td>{{ student[3] }}</td>
            
                
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button onclick="location.href = '/';" name = "update" form = "updatestudent">Logout</button>
    <br>
</body>