<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Student</title>
    <!-- BOXICONS -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="static/update.css">
    
    <title>Update Student</title>
</head>

<body>
    <h2 class="title">Update Student</h2>
    <form action="/update" method="POST"> 

        <div class="wrapper">
            <div class="login-box">
                <div class="login-header">
                    <span>
                    Update Student
                    </span>
                </div>
                    <div class="input-box">
                <input type="text" placeholder="Name" name="name"id="name" required class="input-field">
                <label class="label">Name</label>
        
                    </div>

                    <div class="input-box">
                        <input type="text" placeholder="Student ID" name="id"id="id" required class="input-field">
                        <label class="label">Student ID</label>
                        
                    </div>

                    <div class="input-box">
                        <input type="text" placeholder="CGPA" name="cgpa"id="cgpa" required class="input-field">
                        <label class="label">CGPA</label>
                                    
                    </div>

                    <div class="input-box">
                        <input type="text" placeholder="Credit Hours" name="credits"id="credits" required class="input-field">
                        <label class="label">Credit Hours</label>
                                                    
                    </div>

                    <div class="input-box">
                        <input type="text" placeholder="UserName" name="username"id="username" required class="input-field">
                        <label class="label">User Name</label>
                                                                    
                    </div>


                    <div class="input-box">
                        <input type="password" placeholder="Password" name="password"id="password" required class="input-field">
                        <label class="label">Password</label>
                                    
                    </div>
                                    
                                    
                        
                                    

                    <div class="input-box">

                        <input class="input-submit" type="submit" value="Submit" >

                    </div>
                                    
                
            </div>
        </div>

</form>
        
</body>
</html>








